 {% extends "base.html" %} {% load static compress %} {% block extrastyle %}

<!-- Custom styles for this template -->
{% compress css %}
<link href="{% static 'css/cover.css' %}" rel="stylesheet">
{% endcompress %}

{% endblock %} {% block script %}

{% compress js %}
<script src="{% static 'js/index.js' %}"></script>
{% endcompress %}

{% endblock %} {% block body %}

<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			{% include "masthead.html" %}
			<div class="inner cover">
				<h1 class="cover-heading"></h1>
				<p class="lead"></p>
				<div id="info">
					<p>Siamo <strong>aperti</strong>? Fantastico!</p>
				    <p>Suona l'interno "<strong>Sinope</strong>" (*) e ti apriamo :)</p>
				    <p><small>(*) Tenere premuto fino a che non sentirete John Lennon.</small></p>
                </div>
                <p><a href ="{% url 'about' %}"><small>Ulteriori info su Presence.</small></a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
