{% extends "base.html" %} {% load static %} {% block extrastyle %}

<!-- Custom styles for this template-->
<link href="{% static 'css/cover.css' %}" rel="stylesheet">
<link href="{% static 'css/about.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			{% include "masthead.html" %}
			<div class="inner cover">
				<div id="info">
					<p>Il Presence, una webapp che permette di sapere se c’è qualcuno all’interno del laboratorio e di aprire la porta esterna a chi è abilitato.</p>
					<div class="embed-responsive">
						<iframe src="https://www.youtube-nocookie.com/embed/gqySJz94Evg?rel=0&iv_load_policy=3&playsinline=1" title="Presence by Hacklab: la demo" frameborder="0" allowfullscreen></iframe>
					</div>
					<ul>
						<li><a href="https://hlcs.it/2014/09/18/presence-door-hacking-con-raspberrypi-e-modem-56k/"><strong>Articolo</strong> su hlcs.it</a></li>
						<li><a href="https://github.com/hlcs/presence/"><strong>Repository</strong> del codice sorgente.</a></li>
					</ul>
					<p><a href="{% url 'home' %}"><small>Torna alla Home Page</small></a></p>
               </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
