 {% extends "base.html" %} {% load static %} {% block extrastyle %}

<!-- Custom styles for this template -->
<link href="{% static 'css/cover.css' %}" rel="stylesheet">

{% endblock %} {% block script %}

<script src="{% static 'js/index.js' %}"></script>
<script type="text/javascript">
        
	const setOpenHeading = () => {
        document.querySelector(".cover-heading").innerText = "Aperto";
        document.querySelector("#info").style.display = "";
    }
    const setClosedHeading = () => {
        document.querySelector(".cover-heading").innerText = "Chiuso";
        document.querySelector("#info").style.display = "none";
    }
    const setErrorHeading = () => {
        document.querySelector(".cover-heading").innerText = "Errore";
        document.querySelector("#info").style.display = "none";
    }
    const update = async () => {
        try {
            const header = await fetch("/gates/internal/");
            const body = await header.json();
            if (body.id == 1) setOpenHeading();
            else setClosedHeading();
        } catch (error) {
            setErrorHeading();
        }
    }

    window.addEventListener("load", () => {
        document.querySelector("#info").style.display = "none";
        update();
        setInterval(update, 5000);
    })
</script>

{% endblock %} {% block body %}

<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			{% include "masthead.html" %}
			<div class="inner cover">
				<h1 class="cover-heading"></h1>
				<p class="lead"></p>
				<div id="info">
					<p>Siamo <strong>aperti</strong>? Fantastico!</p>
				    <p>Suona l'interno "<strong>Sinope</strong>" (*) e ti apriamo :)</p>
				    <p><small>(*) Tenere premuto fino a che non sentirete John Lennon.</small></p>
                </div>
                <p><a href ="{% url 'about' %}"><small>Ulteriori info su Presence.</small></a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
