{% extends "base.html" %}

{% load static %}

{% block title %} | Control Panel{% endblock %} 

{% block script %}

<script src="{% static 'js/panel.js' %}"></script>

{% endblock %}

{% block extrastyle %}

<link href="{% static 'css/panel.css' %}" rel="stylesheet">

{% endblock %}


{% block body %}

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">HLCS Presence</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/admin">Admin</a></li>
				<li>
					<form action="/accounts/logout/" method="post" style="margin:0;padding:0;display:inline;">
						{% csrf_token %}
						<button type="submit" class="logout-link">Logout</button>
					</form>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container theme-showcase" role="main">
	<div class="page-header">
		<h1>Control Panel</h1>
		<p class="lead">Ciao <strong>{{ user }}</strong></p>
	</div>
	
	<div class="row">
	
		<div class="col-sm-3">
	
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Porta Interna</h3>
				</div>
				<div class="panel-body">
					<div style="float: left"><h3><span class="label label-default" id="internal-status">chiusa</span></h3></div>
					<div style="float: right"><button id="internal-button" onclick="openInternal()" {{ options }} data-allowed="{{ internal_allowed|yesno:'true,false' }}" class="btn btn-lg btn-primary" type="button">Apri</button></div>
				</div>
			</div>
			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Porta Esterna</h3>
				</div>
				<div class="panel-body">
					<div style="float: left"><h3><span class="label label-default" id="external-status">chiusa</span></h3></div>
					<div style="float: right"><button id="external-button" onclick="openExternal()" class="btn btn-lg btn-primary" type="button">Apri</button></div>
				</div>
			</div>
		
		</div>
		
		<div class="col-sm-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Ultimi Ingressi</h3>
				</div>
				<div id="requests" class="panel-body">
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
